body{
    margin: 0;
    padding: 0;
    background-color: #eee;
}
*{
    box-sizing: border-box;
}
.icon {
    width: 3em; height: 3em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
 }